@import 'tailwindcss';
@plugin "daisyui" {
    themes: light --default --prefersdark;
}

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

.bg-g3 {
    background-image: url('/public/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
